node_modules
.DS_Store
npm-debug.log
.vscode
.tmp
.idea

/dist
coverage
lcov.info
.nyc_output
*.lcov

lighthouse-cli/results
results.html
last-run-results.html

*.trace.json
*.devtoolslog.json
*.report.html
*.report.dom.html
*.report.json
*.report.csv
*.report.pretty
*.artifacts.log
*.ctc.json

!lighthouse-core/test/results/artifacts/*.trace.json
!lighthouse-core/test/results/artifacts/*.devtoolslog.json
!lighthouse-core/test/fixtures/artifacts/**/*.trace.json
!lighthouse-core/test/fixtures/artifacts/**/*.devtoolslog.json
!lighthouse-core/test/fixtures/traces/**/*.trace.json
!lighthouse-core/test/fixtures/traces/**/*.devtoolslog.json

lighthouse-core/scripts/legacy-javascript/variants

latest-run
lantern-data
timings-data

closure-error.log
yarn-error.log

/chrome-linux/
/chrome-win32/
/chrome.zip

*__pycache__
*.pyc
proto/scripts/*_pb2.*
proto/scripts/*_pb.*
proto/scripts/*_processed.json

# require any lock file to be checked in explicitly
yarn.lock
