
# This file pairs with the automated code review assignment setting to make that system work
#   https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/managing-code-review-assignment-for-your-team

# Docs: https://help.github.com/articles/about-codeowners/


# default owners for the entire repo
*      @GoogleChrome/lighthouse-hackers
